@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    
    font-family: 'Oxanium', cursive;
    font-family: 'Kumbh Sans', sans-serif;
    font-feature-settings: "kern";
}


.css-text2 {
    animation: shine 2s linear infinite alternate;;
    font-family: 'Oxanium', cursive;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 0.125rem #fff;
    
    mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    position: relative;
    letter-spacing: 0px;
    line-height: 100%;
    
    /* font-size: rem; */
    font-weight: 800;
}

@keyframes shine {
    0% {
        -webkit-mask-position: 150%;
    }
    100% {
        -webkit-mask-position: -50%;
    }
}

.nav2-text {
    font-family: 'Oxanium', cursive;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    position: relative;
    letter-spacing: 0px;
    line-height: 100%;
    font-size: 2.5rem;
    font-weight: 800;
    
} 

.nav_showcase {
    animation: nav_burst-in  .55s ease-in-out forwards;
    gap: 3.5rem;
    position: absolute; 
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    
} 

h2 {
    display: block;
}

.css-text {
    font-family: 'Oxanium', cursive;
    font-style: normal;
    
}

.nav-css {
    position: fixed;
}

.bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
}

.logo img{
    width: 45px;
}



@media screen and  (max-width:767px) {
    .nav-padding {
        padding: 1.5rem 0rem 1.5rem 0rem;
    }

    .hamburger {
        width: 35px;
        height: 25px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background: none;
        border: none;
        appearance: none;
        z-index: 10;
        transition: 0.25s;
        transition: background .35s ease-in-out;
        /* background: #fff; */
    }

    .Gradient {
        border-radius: 9999px;
        width: 150px;
        height: 150px;
        background: #2164f3;
        opacity: 0.5;
        position: absolute;
        /* top: 960px; */
        top: 750px;
        filter: blur(70px);
        bottom: 0;
        right: 0;
        
    }
    
    .Gradient ::before, ::after{
        border-color: #e2e8f0;
    }


}

@media screen and  (max-width:1150px) {
    .img-container {
        
        width: auto;
        height: auto;
        
        align-items: flex-end;
    }
    
    .img-container img{
        
        border-radius:25rem 25rem 0 0;
        border: 1px solid #374151;
        width: auto;
        height: auto;
        object-fit: cover;
    } 
}

@media screen and (min-width:1150px) {
    .img-container {
        width: 35rem;
        height: 40rem;
        
        align-items: flex-end;
    }
    
    .img-container img{
        border-radius:25rem 25rem 0 0;
        border: 2px solid #374151;
        width: 100%;
        height: 100%;
        
        object-fit: cover;
    }
        
}



@keyframes wave {
    0% {
        transform: rotate(-15deg);
    }
    
    5% {
        transform: rotate(30deg);
    }
    
    10% {
        transform: rotate(-15deg);
    }
    
    15% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(0);
    }
    
}

.peace {
    display: inline-block;
    animation: wave 5s ease-in-out 3s infinite;
    transform-origin: bottom;
}


.hamburger .hamburger-top {
    top: 0;
    width: 50%;
    transform-origin: 0 5px;
    transition: all 0.5s;
}

.hamburger .hamburger-middle {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.hamburger .hamburger-bottom {
    bottom: 0;
    left: 50%;
    width: 50%;
    transform-origin: -13% 24px;
    transition: all 0.5s;
    background-color: #3b82f6;
}
.nav-line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    
    margin-block: auto;
    border-radius: 50px;
}

.open .hamburger-top{
    transform: translateY(50%) rotate(45deg);
    width: 80%;
    
}





.open .hamburger-middle{
    width: 0;
    
}

.open .hamburger-bottom{
    transform: translateY(-50%) rotate(-45deg);
    width: 80%;
    background-color: #fff;
}

@keyframes nav_burst-in {
    0% {
        border-radius: 100px 0 100px 100px;
        padding: 0;
        z-index: -10;
        opacity: 0;
        background-color: #bfdbfe;
    }

    1% {
        width: 50px;
        height: 50px;
        border-radius: 100px 0 100px 100px;
        opacity: 0.5;
    }

    100% {
        width: 100%;
        height: max-content;
        top: 0;
        right: 0;
        padding: 6.5rem 2.5rem;
        border-radius: 0;
        z-index: 9;
        opacity: 1;
        transform: scale(1);
        background-color: #3b82f6;
    }
}

.greetings {
    font-family: 'Oxanium', cursive;
    font-weight: 600;
}

.greetings .name {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 600;
}

.btn1 {
    margin-right: 20px;
}

.Gradient {
    border-radius: 9999px;
    width: 150px;
    height: 150px;
    background: #2164f3;
    opacity: 0.5;
    position: absolute;
    /* top: 960px; */
    filter: blur(70px);
    bottom: 0;
    right: 0;
    
} 

.Gradient ::before, ::after{
    border-color: #e2e8f0;
}

