@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    /* font-family: 'Satoshi', sans-serif; */
    font-family: 'Oxanium', cursive;
    font-family: 'Kumbh Sans', sans-serif;
    font-feature-settings: "kern";
}


.css-text2 {
    animation: shine 2s linear infinite alternate;;
    font-family: 'Oxanium', cursive;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 0.125rem #fff;
    /* -webkit-mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%; */
    mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    position: relative;
    letter-spacing: 0px;
    line-height: 100%;
    /* border: 0;
    margin: 0;
    padding: 0;
    outline: none; */
    font-size: rem;
    font-weight: 800;
}

@keyframes shine {
    0% {
        -webkit-mask-position: 150%;
    }
    100% {
        -webkit-mask-position: -50%;
    }
}

.nav2-text {
    font-family: 'Oxanium', cursive;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    position: relative;
    letter-spacing: 0px;
    line-height: 100%;
    /* border: 0;
    margin: 0;
    padding: 0;
    /* outline: none;  */
    font-size: 2.5rem;
    font-weight: 800;
    
} 

.nav_showcase {
    animation: nav_burst-in  .55s ease-in-out forwards;
    gap: 3.5rem;
    position: absolute; 
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    
} 

h2 {
    display: block;
}

.css-text {
    font-family: 'Oxanium', cursive;
    font-style: normal;
    
}
/* font-family: 'Satoshi', sans-serif; */
.nav-css {
    position: fixed;
}

.bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
}

.logo img{
    width: 45px;
}

.nav-padding {
    
    /* padding: 1.5rem 1rem 1.2rem 5rem; */
}

@media screen and  (max-width:768px) {
    .nav-padding {
        padding: 1.5rem 0rem 1.5rem 0rem;
    }

    .hamburger {
        width: 35px;
        height: 25px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background: none;
        border: none;
        appearance: none;
        z-index: 10;
        transition: 0.25s;
        transition: background .35s ease-in-out;
        /* background: #fff; */
    }

    .Gradient {
        border-radius: 9999px;
        width: 150px;
        height: 150px;
        background: #2164f3;
        opacity: 0.5;
        position: absolute;
        /* top: 960px; */
        top: 800px;
        filter: blur(70px);
        bottom: 0;
        right: 0;
        
    }
    
    .Gradient ::before, ::after{
        border-color: #e2e8f0;
    }

    .img-container {
        
        width: auto;
        height: auto;
        overflow: hidden;
        border-radius: 18rem 18rem 0 0; 
        border: 1px solid rgba(255,255,255,0.12);
        /* align-items: flex-end; */
    }
    
    .img-container img{
        width: auto;
        height: auto;
        /* object-fit: cover;  */
    } 

    /* .css-text2 {
        font-family: 'Oxanium', cursive;
        font-style: normal;
        color: transparent;
        -webkit-text-stroke: 0.1rem #fff;
        position: relative;
        letter-spacing: 0px;
        line-height: 100%;
        /* border: 0;
        margin: 0;
        padding: 0;
        outline: none; *
        font-size: 3.5rem;
        font-weight: 800;
    } */
}

@media screen and  (min-width:769px) {
    .img-container {
        width: 35rem;
        height: 40rem;
        overflow: hidden;
        border-radius: 18rem 18rem 0 0;
        border: 8px solid rgba(255,255,255,0.12);
        align-items: flex-end;
    }
    
    .img-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@keyframes wave {
    0% {
        transform: rotate(-15deg);
    }
    
    5% {
        transform: rotate(30deg);
    }
    
    10% {
        transform: rotate(-15deg);
    }
    
    15% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(0);
    }
    
}

.peace {
    display: inline-block;
    animation: wave 5s ease-in-out 3s infinite;
    transform-origin: bottom;
}
/* Hamburger */

/* .hamburger {
    width: 35px;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    appearance: none;
    z-index: 10;
    transition: background .35s ease-in-out;
    /* background: #fff; *
} */

.hamburger .hamburger-top {
    top: 0;
    width: 50%;
    transform-origin: 0 5px;
    transition: all 0.5s;
}

.hamburger .hamburger-middle {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.hamburger .hamburger-bottom {
    bottom: 0;
    left: 50%;
    width: 50%;
    transform-origin: -13% 24px;
    transition: all 0.5s;
    background-color: #3b82f6;
}
.nav-line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    /* transition: transform .5s ease-in-out;
    transition: all .5s ease-in-out; */
    margin-block: auto;
    border-radius: 50px;
}

.open .hamburger-top{
    transform: translateY(50%) rotate(45deg);
    width: 80%;
    
}





.open .hamburger-middle{
    width: 0;
    
}

.open .hamburger-bottom{
    transform: translateY(-50%) rotate(-45deg);
    width: 80%;
    background-color: #fff;
}

@keyframes nav_burst-in {
    0% {
        border-radius: 100px 0 100px 100px;
        padding: 0;
        z-index: -10;
        opacity: 0;
        background-color: #93c5fd;
    }

    1% {
        width: 50px;
        height: 50px;
        border-radius: 100px 0 100px 100px;
        opacity: .5;
    }

    100% {
        width: 100%;
        height: max-content;
        top: 0;
        right: 0;
        padding: 6.5rem 2.5rem;
        border-radius: 0;
        z-index: 9;
        opacity: 1;
        transform: scale(1);
        background-color: #3b82f6;
    }
}

.greetings {
    font-family: 'Oxanium', cursive;
    font-weight: 600;
}

.greetings .name {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 600;
}

.btn1 {
    margin-right: 20px;
}

.Gradient {
    border-radius: 9999px;
    width: 150px;
    height: 150px;
    background: #2164f3;
    opacity: 0.5;
    position: absolute;
    /* top: 960px; */
    filter: blur(70px);
    bottom: 0;
    right: 0;
    
} 

.Gradient ::before, ::after{
    border-color: #e2e8f0;
}

/* .img-container {
    width: 35rem;
    height: 40rem;
    overflow: hidden;
    border-radius: 18rem 18rem 0 0;
    border: 8px solid rgba(255,255,255,0.12);
    align-items: flex-end;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* .nav_showcase {
    animation: nav_burst-in  .55s ease-in-out forwards;
    gap: 3.5rem;
    /* position: absolute; *
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    
} */

/* .menu-btn {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.menu-btn .menu-text {
    color: #3b82f6;
    font-family: var(--font-1);
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: .3s ease-out;
    /* transform: translateY(100%);
    opacity: 0; *
} */


/* .menulinks {
    gap: 3.5rem;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    width: 30px; 
    height: 30px; 
    padding: 0;
    border-radius: 100px 0 100px 100px;
    z-index: -10;
    opacity: 0;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    display: flex;
} */
/* .hamburger .open::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    background-size: cover;
    padding: 1.35rem;
    transform: translateX(-24%) translateY(-13%);
    animation: nav_fade__EoX_p .35s ease-in-out .1s forwards;
} */



/* .hamburger {
    cursor: pointer;
    width: 35px;
    height: 25px;
    transition: 0.25s;
    position: relative;

    /* margin: 0; *
    
}  */

/* .hamburger span {
    background: #fff;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: transform 0.5s, width 0.5s;*
    
}  */

/*.hamburger .hamburger-top {
    width: 50%;
    transform: translate(-100%, -50px);
} */

/* .hamburger-bottom {
    width: 50%;
    left: auto;
    right: 0;
    transform: translateY(14px);
}  */

/* .hamburger-top, */
/* .hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 3px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
    border-radius: 20px;
}

.hamburger-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 3px;
    background: #3b82f6;
    transform: rotate(0);
    transition: all 0.5s;
    border-radius: 20px;
}
.hamburger-top {
    width: 50%;
    /* left: auto;
    right: 0; *
    transform: translateY(-100%, -50px);
} 

.hamburger-middle {
    transform: translateY(7px);
} 
/* .hamburger-middle {
    width: 75%;
    left: auto;
    right: 0;
    transform: translateY(7px);
}  *

.hamburger-bottom {
    width: 50%;
    left: auto;
    right: 0;
    transform: translateY(14px);
}  */

/* .hamburger-bottom {
    width: 50%;
    left: auto;
    right: 0;
    transform: translateY(100%, 50px);
}  */
 
/* .open {
    transform: rotate(90deg);
    transform: translateY(0px);
} */

/* .open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
    
}

.open .hamburger-middle{
    display: none;
    
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
    
} */

/* .open .hamburger-top{
    transform: rotate(-45deg)  translateY(6px) translate(6px);
    
}



.open .hamburger-bottom{
    transform:rotate(410deg) translateX(10px);
    
}

.open .hamburger-middle{
    transform:rotate(45deg)  translateY(6px);
    
} */

/* .open .hamburger-top{
    background: #fff;
    transform: rotate(-45deg)  translateY(6px) translate(6px);
    
}





.open .hamburger-middle{
    transform:rotate(45deg)  translateY(6px);
    
} */

/* .open .hamburger-bottom{
    transform:rotate(45deg)  translateY(-6px) translate(-6px);
    
} */
