@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-css {
    position: fixed;
}

.bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
}

.logo img{
    width: 45px;
}

.nav-padding {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    padding: 1.2rem 0rem 1.2rem 0rem;
}

@media screen and  (max-width:768px) {
    .nav-padding {
        padding: 1.7rem 0rem 1.7rem 0rem;
    }
}

/* Hamburger */
.hamburger {
    cursor: pointer;
    width: 38px;
    height: 38px;
    transition: 0.25s;
    position: relative;
    /* margin: 0; */
} 

/* .hamburger span {
    background: #fff;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: transform 0.5s, width 0.5s; 
    
} 

.hamburger .hamburger-top {
    width: 50%;
    transform: translate(-100%, -50px);
} */

/* .hamburger-bottom {
    width: 50%;
    left: auto;
    right: 0;
    transform: translateY(14px);
}  */

/* .hamburger-top, */
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 3px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 3px;
    background: #3b82f6;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-top {
    width: 50%;
    /* left: auto;
    right: 0; */
    transform: translateY(-100%, -50px);
} 

.hamburger-middle {
    transform: translateY(7px);
} 
/* .hamburger-middle {
    width: 75%;
    left: auto;
    right: 0;
    transform: translateY(7px);
}  */

.hamburger-bottom {
    width: 50%;
    left: auto;
    right: 0;
    transform: translateY(14px);
} 

/* .hamburger-bottom {
    width: 50%;
    left: auto;
    right: 0;
    transform: translateY(100%, 50px);
}  */
 
/* .open {
    transform: rotate(90deg);
    transform: translateY(0px);
} */

/* .open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
    
}

.open .hamburger-middle{
    display: none;
    
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
    
} */

/* .open .hamburger-top{
    transform: rotate(-45deg)  translateY(6px) translate(6px);
    
}



.open .hamburger-bottom{
    transform:rotate(410deg) translateX(10px);
    
}

.open .hamburger-middle{
    transform:rotate(45deg)  translateY(6px);
    
} */

.open .hamburger-top{
    background: #fff;
    transform: rotate(-45deg)  translateY(6px) translate(6px);
    
}





.open .hamburger-middle{
    transform:rotate(45deg)  translateY(6px);
    
}

/* .open .hamburger-bottom{
    transform:rotate(45deg)  translateY(-6px) translate(-6px);
    
} */
