@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-css {
    position: fixed;
}

.bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
}

.logo img{
    width: 45px;
}

.padding {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    padding: 1rem 0rem 1rem 0rem;
}